# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# Django
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/

# Environment
.env
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
